        .card {
            width: 20rem;
            margin: 1rem;
            padding-bottom: 5rem;
        }
        
        a {
            color: black;
            text-decoration: none;
        }
        
        a:hover {
            text-decoration: none;
        }
        
        .crop {
            overflow: hidden;
            height: 50%;
        }
        
        .card-footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }