html,
body {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: 0;
    background-color: #000000;
    padding-top: 20px;
}

/* Other Classes for Page Styling */

.noir {
    background-color: black;
}
