html,
body {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: 0;
    background-color: #000000;
    padding-top: 20px;
}


/* Other Classes for Page Styling */

.noir {
    background-color: black;
}

.acceptCookies {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: #000000;
    color: #808080;
    height: 20vw;
    text-align: center;
    z-index: 99;
    font-size: 2rem;
}